body{
	/*初始化*/
	margin:0;
	padding: 0;
	background-color: #33a3dc;
}
#yes{
	position: absolute;
	margin-top: 350px;
	margin-left: 1050px;
}
#no{
	position: absolute;
	margin-top: 400px;
	margin-left: 1050px;
}
#canvas{
/*将画布转为块级元素*/
	display: block;
	position: absolute;
    left: 50%;
	top:50%;
	margin-left: -225px;
	margin-top: -225px;
	background-color: #f58220;
}